:root {
    --green: #82d433;
    --black: #232729;
    --box-shadow-common: 0 0.1em 0 0 var(--green);
    --transition-duration: 0.2s;
    font-size: calc(14px + (24 - 14) * ((100vw - 580px) / (1600 - 580)));
    color: var(--green);
    background-color: var(--black);
    font-family: Courier;
}

body {
    margin: 0;
}

#indicator {
    font-size: 2em;
    position: fixed;
    left: 50%;
    text-align: center;
    width: 10%;
    margin-left: -5%;
    transition-property: bottom;
    transition-duration: var(--transition-duration);
}

#indicator.show {
    bottom: 0;
}

#indicator.hide {
    bottom: -10vh;
}

h2:not(.container--first__item--basic__description__profession) {
    display: table;
    box-shadow: var(--box-shadow-common);
}

.fa.fa-angle-right {
    font-weight: bold;
}

a {
    color: var(--green);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.container--first__item,
.container--second__item {
    width: 95%;
}

.container--first__item {
    height: calc(50 * var(--vh, 1vh));
    margin: 0 1%;
    transition-property: 'height';
    transition-duration: var(--transition-duration);
}

.container--first__item--basic {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.container--first__item--basic img {
    width: 45%;
    height: auto;
    border-radius: 50%;
}

.container--first__item--basic__description {
    text-align: center;
}

.container--first__item--basic__description__name {
    margin: 0;
}

.container--first__item--basic__description__profession {
    margin: 0;
}

.container--first__item--basic__profiles {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.container--first__item--basic__profiles a {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0 5%;
    font-size: 1.8rem;
    padding: 5px;
    text-align: center;
}

.container--first__item--basic__profiles a:hover {
    box-shadow: var(--box-shadow-common);
}

.container--first__item--basic__profiles a:hover,
.container--first__item--basic__profiles a:link,
.container--first__item--basic__profiles a:visited,
.container--first__item--basic__profiles a:active {
    color: var(--green);
    cursor: pointer;
}

.container--first__item--summary {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.container--first__item p,
.container--second__item p {
    margin: 1% 2%;
}

.container--second__item--work-experience__item,
.container--second__item--pet-projects__item {
    margin-bottom: 5%;
}

.container--second__item--work-experience__item__company,
.container--second__item--work-experience__item__role,
.container--second__item--work-experience__item__duration,
.container--second__item--pet-projects__item__name {
    margin: 0;
}

.container--second__item--cli {
    margin: 5% auto;
    font-size: 1.2em;
    font-weight: bold;
    cursor: default;
}

.container--second__item--cli #cursor {
    background-color: var(--green);
}

@media only screen and (orientation: landscape) {
    .container--first {
        flex-direction: row;
    }

    .container--first__item {
        width: 50%;
        height: calc(100 * var(--vh, 1vh));
    }

    .container--second {
        width: 75%;
        margin: 0 auto;
    }
}

@media only screen and (orientation: portrait) and (min-width: 500px) {
    .container {
        width: 75%;
        margin: 0 auto;
    }
}

@media only screen and (orientation: portrait) and (min-width: 900px) {
    .container {
        width: 60%;
        margin: 0 auto;
    }
}

